# MacOS files
.DS_Store
.AppleDouble
.LSOverride
Icon

# Racket
## Compiled
compiled/

## Temporary
*~

# Project files
## Assembler from cs241
### https://uwaterloo.ca/secretariat/policies-procedures-guidelines/policy-71
asm.rkt
