# MacOS files
.DS_Store
.AppleDouble
.LSOverride
Icon

# Racket
## Compilation
compiled/
UWME*
!UWME.rkt

## Temporary files
*~

## excutables
### Linux
mips-vm
### Windows
*.exe
### MacOS
*.App

# Project files
## Assembler from cs241
### https://uwaterloo.ca/secretariat/policies-procedures-guidelines/policy-71
asm.rkt

